body{
    background: whitesmoke;
    overflow: scroll;
}

.frase{
    font-size: 20px;
}

.campoDigitacao{
    font-size: 20px;
    height: 150px;
    border-radius: 10px;
    border: solid 2px;
    background: white;
}

.bordaVerde{
    border-color: green;
}

.bordaVermelha{
    border-color: red;
}

.acabou{
    background: gray;
    color: lightgray;
}

.icones{
    vertical-align: middle;
    margin-bottom: 10px;
}

.botoes{
    margin: 10px;
}

.placar{
    display: none;
    margin-top: 100px;
}

#erro{
    background: #f8765f9c;
    border-radius: 10px;
    border: solid 2px #d91e18;
    font-size: 18px;
    font-weight: bold;
    color: #96281b;
    display: none;
}

#spinner{
    display: none;
}

#idFrase{
    width: 40px;
    text-align: center;
    margin-left: 10px;

}

.invisivel{
    display: none;
}

.slider{
    height: auto;
}

.slick-prev:before, .slick-next:before {
    color: black;
    font-size: 20px;
}